<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="GR1_T2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="L_index_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_index_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_index_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_index_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_middle_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_middle_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_middle_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_middle_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_ring_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_ring_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_ring_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_ring_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_pinky_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_pinky_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_pinky_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_pinky_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_thumb_proximal_yaw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_thumb_proximal_yaw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_thumb_proximal_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_thumb_proximal_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_thumb_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_thumb_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L_thumb_distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L_thumb_distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_index_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_index_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_index_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_index_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_middle_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_middle_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_middle_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_middle_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_ring_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_ring_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_ring_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_ring_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_pinky_proximal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_pinky_proximal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_pinky_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_pinky_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_thumb_proximal_yaw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_thumb_proximal_yaw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_thumb_proximal_pitch_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_thumb_proximal_pitch_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_thumb_intermediate_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_thumb_intermediate_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R_thumb_distal_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R_thumb_distal_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
