<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="GR1_T2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import GR1_T2 urdf file -->
    <xacro:include filename="$(find humanoid_description)/urdf/GR1_T2.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="GR1_T2.ros2_control.xacro" />


    <xacro:GR1_T2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
